
.scroll-tabel{
    margin-top: 200px; 
 
    overflow-y: auto;
    padding-top: 50px;
}
.table-title{
    position: sticky;
    top: 285px; 
    z-index: 1000;
    background-color: #ffffff;
}

.table-title tr th {
    border-bottom: none;}

.add-button{
    width: 150px;
}
.splitter{
    width: 100%;
    height: 1px;
    color: black;
    border: 2px;
}
