.navbar{   padding-left: 5%;
}
.schedule-container{
    width: calc(100% - 60px); 
    
    margin: 0px 30px 0px 30px; 
 
    background: #FFFF;
    display: flex;
    overflow-y: auto; 
}
table tr td ul {
    display: flex;
    gap: 0.7%;
 
    flex-wrap: wrap;
}

table tr td ul li {
    flex-basis: calc(33.33% - 0.7%); /* 3 items per row with the gap considered */
   
    box-sizing: border-box;
}

.schedule tr td ul li{
 
  margin-left:0%;
    
}

table tr td:first-child {
    vertical-align:middle;
    padding-left:.5%;
 
}

.schedule tr td{
    padding-left: 0%;
    font-size:70%;
}

.inline-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.confirm-button{
    align-self: end !important;
    background-color:#047015 !important;
    border-color: #047015 !important;
    
   
   }
.title{
    width: calc(100% - 60px);
    margin: 20px 30px  0px 30px ; 
    position: sticky;
    top: 88px; 
    z-index: 800;
    background-color: #ffffff;
 
    padding: 10px;
}

.navbar .nav{
    gap: 6rem !important;
}