.Main-navbar{
  background-color:#FFFFFF;
  padding-left: 80px;
  position: sticky !important;
    top: 65px;
    z-index: 1000;
}


  
  
.navlink-custom {
  color: black !important;
}

.navlink-active {
    background-color: black; /* This is to style the active link */
    color: white !important;
  }
  
  
 