.container555 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; 
}


.logistics-fixed-header {
    width: calc(100% - 60px);
    margin: 50px 30px 30px 30px; 
     margin-right: 310px;
    position: fixed;
    top: 118px; 
    z-index: 800;
    background-color: #ffffff;
 
    padding: 10px;
   }

/* Main content that starts after the header */
.logistics-container {
    width: calc(100% - 60px); 
    margin: 100px 30px 30px 30px; 
      flex: 1;
    background: #FFFF;
    display: flex;
    overflow-y: auto; }

/* Grid layout for rooms */
.room-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 columns as seen in the image */
    row-gap: 20px;  /* Adjust the spacing between the items */
/* Ensure enough space from the fixed header */
column-gap: 210px;  
    padding: 0;  /* Remove default padding */
    margin-left: 30px;
  
}

.room-item {
     font-weight: bold;  /* Set the font weight as normal */
     color: #0064AD;
}
.blue-bold {
    font-weight: bold;  /* Set the font weight as normal */
    color: #0064AD;
    
}
.black-bold {
    font-weight: bold;  /* Set the font weight as normal */
    color: black;
    text-transform: capitalize !important;
}
.room-type{
    color: black;
}
.no-underline{
    text-decoration: none; /* Removes underline */
    color: inherit;
}
/* room schedule styles*/
.room-schedule-container{
 
    width: calc(100% - 60px); 
    /*margin: 273px 30px 30px 30px; */
    margin: 120px 30px 30px 30px; 
      flex: 1;
    background: #FFFF;
    display: flex;
    overflow-y: auto; 
}
.header-room-details{
display: flex;
flex-direction: row;
gap: 60px; 
}
.logistics-table-title{
    position: sticky;
    top: 240px; 
    z-index: 1000;
    background-color: #ffffff;
}